altgraph==0.17.3
contourpy==1.1.0
cycler==0.11.0
fonttools==4.42.1
kiwisolver==1.4.5
macholib==1.16.2
matplotlib==3.6.3
netCDF4==1.7.1.post2
numpy==1.24.1
packaging==23.1
pandas==1.5.3
Pillow==10.0.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2023.8
pyparsing==3.1.1
PySide6==6.6.0
PySide6-Addons==6.6.0
PySide6-Essentials==6.6.0
python-dateutil==2.8.2
pytz==2023.3
scipy==1.10.0
shiboken6
six==1.16.0
xarray
